.container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  margin: 0;
}

.box {
  width: 50%;
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
}

.form {
  margin-bottom: 20px;
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
}
